<h2>Announcements</h2>

<hr>
<% if current_user.admin? %>
	<div class="button_wrapper">
		<%= link_to "Make a New Post", new_post_path, :class => 'button' %>
	</div>
	<hr>
<% end %>

<% if @posts.count.zero? %>
	<p>No announcements have been made yet.</p>
<% end %>

<% @posts.each do |post| %>
	<h3><%= post.title %></h3>
	<h4><%= post.subtitle %></h4>
	<br>
	<p><%= post.content %></p>
	<p class="date"><%= post.created_at.strftime("%A, %b, %d at %l:%M %P") %></p>
	<% if current_user.admin? %>
		<div class="button_wrapper">
			<%= link_to "Edit", edit_post_path(post) , :class => 'button' %>
		</div>
		<div class="button_wrapper">
			<%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'button' %>
		</div>
	<% end %>
	<hr>
<% end %>

<%= will_paginate @posts %>

<div class="button_wrapper">
	<%= link_to "Back to Top", '#top', :class => 'button' %>
</div>
