<h2>Voting Board</h2>
<hr>
<div class="bounding_box">
	<% if current_user.admin %>
		<div class="button_wrapper">
			<%= link_to "Manage Votes", votes_path, :class => 'button' %>
		</div>
		<hr>
	<% end %>

	<% if @vote.nil? %>
		<p>No voting information posted.</p>
	<% else %>
		<h2><%= @vote.title %></h2>

		<%= markdown @vote.content %>

		<% if @vote.poll and Tribe.find(@vote.tribe_id).users.include?(current_user) %>
			<%= render 'voting_poll' %>
		<% end %>

		<p class="date"><%= @vote.updated_at.localtime.strftime("%A, %b, %d at %l:%M %P") %></p>
	<% end %>
</div>
