<div class="skinny_wrapper wrapper_padding">
  <%= form_with(model: info_post, local: true) do |form| %>
    <% if info_post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(info_post.errors.count, "error") %> prohibited this info_post from being saved:</h2>

        <ul>
        <% info_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content, "Write your post here" %>
      <%= form.text_area :content %>
    </div>

    <div class="actions button_wrapper">
      <%= form.submit "Post Info" %>
    </div>
  <% end %>
</div>
