<div class="button_wrapper">
  <%= link_to 'New Game', new_game_path, :class => 'button' %>
</div>

<hr>

<% if @games.count.zero? %>
  <h2>There have not been any games yet.</h2>
<% else %>

  <% @games.each do |game| %>
    <h2><%= game.name %></h2>

    <% if game.scores.count.zero? %>
      <h4>There are no scores for this game yet.</h4>
    <% else %>
      <div class="table_wrapper">
        <table>
          <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Placement</th>
          </tr>

          <% game.scores.order("score DESC").each do |score| %>
            <tr>
              <td><%= score.user.email.split("@").first.capitalize %></td>
              <td><%= score.score unless score.nil? %></td>
              <td><%= Score.where(game_id: game.id).order("score DESC").index(score) + 1 unless score.nil? %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <div class="button_wrapper">
      <%= link_to "Edit", edit_game_path(game), :class => 'button' %>
    </div>

    <div class="button_wrapper">
      <%= link_to "Delete", game, method: :delete, data: { confirm: 'Are you sure? You will delete all scores for this game.' }, :class => 'button' %>
    </div>

    <hr>
  <% end %>
<% end %>
