<div class="skinny_wrapper wrapper_padding">
  <h1>Votes</h1>

  <hr>

  <% @votes.each do |vote| %>

    <h2><%= vote.title %></h2>

    <% if vote.active %>
      <p class="active_tag">ACTIVE</p>
    <% end %>

    <p class="date" style="text-align: center;"><%= vote.updated_at.localtime.strftime("%A, %b, %d at %l:%M %P") %></p>

    <%= markdown vote.content %>

    <div class="button_wrapper">
      <%= link_to "Edit", edit_vote_path(vote), :class => 'button' %>
    </div>

    <div class="button_wrapper">
      <%= link_to "Delete", vote, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button' %>
    </div>

    <hr>
  <% end %>
</div>
