<header id="main_navigation" class="clearfix">
	<%= link_to "LinkIt Survivor", root_path, :class => "home" %>

	<nav>
		<% if user_signed_in? %>
			<% if Game.where(active: true).count > 0 %>
				<%= link_to "Games", games_path %>
			<% end %>

			<% if current_user.admin? %>
				<%= link_to "Confessionals", confessionals_path %>
			<% else %>
				<%= link_to "Confessionals", new_confessional_path %>
			<% end %>

			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign In", new_user_session_path %>
		<% end %>
	</nav>
</header>
